body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa; 
    color: #333333;
    animation: softFade 0.6s ease-in-out forwards;
}
.hero-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1585704032915-c3400ca199e7?q=80&w=2070&auto=format&fit=crop');
    background-size: cover; 
    background-position: center; 
}
.card-img-custom {
    height: 200px;
    object-fit: cover;
}
html {
    overflow-y: scroll;
}
.phone-ico::before {
    content: "\260E";
    color: #FFD700;
    margin-right: 0.5rem;
    font-size: 1.1em;
    vertical-align: middle;
}
@keyframes pageLoad {
    0% {
        opacity: 0;
        transform: translateY(20px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}

@keyframes softFade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
